= simple_form_for [@user, @bentobox], html:{class: "form-horizontal"} do |f|
  %fieldset
    %legend pick your base box
    .row
      .span2
        %ul.thumbnails
          %li.span2
            .thumbnail
              = image_tag 'vagrant_box.png'

      .span6
        = f.input :vagrantbox, :collection  => Vagrantbox.all, :prompt => "Choose a base box"
    %legend stuff some ingredients in
    .row
      .span2
        %ul.thumbnails
          %li.span2
            .thumbnail
              = image_tag 'vagrant_add.png'
      .span6
        .control-group
          /= f.label :ingredient_ids, "Choose your ingredients", class: "control-label"
          - for c in Category.order_by(name: :asc)
            %legend= c.name
            = f.collection_check_boxes(:ingredient_ids, c.ingredients.order_by(name: :asc), :id, :name, {collection_wrapper_tag: 'div class="controls"', item_wrapper_tag: 'label class="checkbox"'}, {multiple: true})



    %legend
      spice it!
      %a.btn#toggle_additional_configuration{'data-toggle'=>"button"}
        %i.icon-eye-open

    .row#additional_configuration.hide

      .span6.offset2
        = f.input :additional_configurations, :collection => AdditionalConfiguration.all, :selected => @bentobox.additional_configurations, :input_html => { multiple: true }, :include_blank => false

    %legend describe it
    .row
      .span2
        %ul.thumbnails
          %li.span2
            .thumbnail
              = image_tag 'vagrant_pack.png'
      .span6
        = f.input :name
        = f.input :description, as: :text,:input_html => { :rows => 5, :cols => 50}
        = f.input :public, as: :boolean, label: "Share your box?"

    .form-actions
      = f.submit 'Save', class: "btn btn-primary"
      = link_to 'Back', bentoboxes_path, class: "btn"
