= form_for @bentobox do |f|
  -if @bentobox.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bentobox.errors.count, "error")} prohibited this bentobox from being saved:"
      %ul
        - @bentobox.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :public
    = f.check_box :public

  .field
    = f.label :vagrantbox
    = f.collection_select( :vagrantbox, Vagrantbox.all, :id, :name, :prompt => true )

  .field
    = f.label :ingredient_ids
    /grouped_collection_select(:city, :country_id, @continents, :countries, :name, :id, :name)
    /option_groups_from_collection_for_select(@continents, :countries, :name, :id, :name, 3)
    /http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-grouped_collection_select
    = f.collection_select(:ingredient_ids, Ingredient.asc(:name), :id, :name, {}, {multiple: true})

  .actions
    = f.submit 'Save'
