.page-header
  %h1
    Bentoboxes
    %small choose your ready-to-go box
    .pull-right
      = link_to new_user_bentobox_path(current_user), class: "btn btn-large" do
        %i.icon-gift
        New Bentobox

%h3 Make it work
.row{style: "float:left;"}
  .span2
    .well
      %ol
        %li
          %p Create a new folder for your files
          = image_tag 'folder.png', class: "center"
  .span2
    .well
      %ol{start: "2"}
        %li
          %p
            Download the
            =link_to 'validation.pem', download_validation_key_path
            key

          = image_tag 'lock.png', class: "center"
  .span2
    .well
      %ol{start: "3"}
        %li
          %p Download your bentobox of choice
          = image_tag 'bentobox.png', class: "center"
  .span2
    .well
      %ol{start: "4"}
        %li
          %p cd into the directory and do run 'vagrant up'
          = image_tag 'console.png', class: "center"
  .span2
    .well
      %ol{start: "5"}
        %li
          %p Wait until vagrant is ready - done!
          = image_tag 'wait.png', class: "center"

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th Actions

  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td
        = link_to bentobox_url(bentobox,  params.merge(:format => :text, :download => true)), :class => "btn btn-info", title: "Download Vagrantfile" do
          %i.icon-download-alt
        = link_to bentobox, class: "btn", title: "Show" do
          %i.icon-eye-open
        -if bentobox.user == current_user
          =link_to edit_user_bentobox_path(current_user, bentobox), class: "btn", title: "Edit" do
            %i.icon-edit
          =link_to bentobox, data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger", title: "Delete" do
            %i.icon-trash


