.page-header
  %h1
    Bentoboxes
    %small choose your ready-to-go box
    .pull-right
      = link_to new_user_bentobox_path(current_user), class: "btn btn-large" do
        %i.icon-gift
        New Bentobox


%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th
    %th
    %th
    %th


  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td
        = link_to bentobox_url(bentobox, params.merge(:format => :text, :download => true)), :class => "btn btn-info", title: "Download Vagrantconfig" do
          %i.icon-download-alt
      %td
        = link_to bentobox, class: "btn", title: "Show" do
          %i.icon-eye-open
      %td
        =link_to_if bentobox.user == current_user, edit_user_bentobox_path(current_user, bentobox), class: "btn", title: "Edit" do
          %i.icon-edit
      %td
        =link_to_if bentobox.user == current_user, bentobox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger", title: "Delete" do
          %i.icon-trash

%br


