%h1 Listing bentoboxes

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th Public
    %th
    %th
    %th

  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td= bentobox.public
      %td= link_to 'Show', bentobox, class: "btn btn-info"
      %td= link_to 'Edit', edit_bentobox_path(bentobox), class: "btn btn-success"
      %td= link_to 'Destroy', bentobox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger"

%br

= link_to 'New Bentobox', new_bentobox_path, class: "btn btn-large btn-success"
