.page-header
  %h1
    Bentoboxes
    %small choose your ready-to-go box
    .pull-right
      = link_to new_user_bentobox_path(current_user), class: "btn btn-large" do
        %i.icon-gift
        New Bentobox


%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th
    %th
    %th
    %th


  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td
        = link_to bentobox_url(bentobox, params.merge(:format => :text)), :class => "btn btn-success" do
          %i.icon-file
          Vagrantconfig
      %td
        = link_to bentobox, class: "btn btn-primary" do
          %i.icon-eye-open
          Show
      %td
        =link_to_if bentobox.user == current_user, edit_user_bentobox_path(current_user, bentobox), class: "btn" do
          %i.icon-edit
          Edit
      %td
        =link_to_if bentobox.user == current_user, bentobox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" do
          %i.icon-trash
          Delete

%br


