%h1 Listing bentoboxes

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Description
    %th Public
    %th
    %th
    %th

  - @bentoboxes.each do |bentobox|
    %tr
      %td= bentobox.name
      %td= bentobox.description
      %td= bentobox.public
      %td= link_to 'Show', bentobox, class: "btn btn-info"
      %td= link_to 'Edit', edit_user_bentobox_path(current_user, bentobox), class: "btn btn-success" if bentobox.user == current_user
      %td= link_to 'Destroy', bentobox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" if bentobox.user == current_user

%br

= link_to 'New Bentobox', new_user_bentobox_path(current_user), class: "btn btn-large btn-success"
