%p#notice= notice

%p
  %b Name:
  = @bentobox.name
%p
  %b Description:
  = @bentobox.description
%p
  %b Public:
  = @bentobox.public

%p
  %b Vagrantbox:
  = @bentobox.vagrantbox.name

%p
  %b Ingredients:
  %ul
  -for ingredient in @bentobox.ingredients
    %li= ingredient.name

= link_to "Vagrantconfig", params.merge(:format => :text), :class => "btn btn-success btn-large"
- if @bentobox.user == current_user
  = link_to edit_user_bentobox_path(current_user, @bentobox), class: "btn" do
    %i.icon-edit
    Edit
= link_to 'Back', bentoboxes_path, class: "btn" if @bentobox.user == current_user
