= form_for @vagrantbox do |f|
  -if @vagrantbox.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vagrantbox.errors.count, "error")} prohibited this vagrantbox from being saved:"
      %ul
        - @vagrantbox.errors.full_messages.each do |msg|
          %li= msg
  .field
    = label_tag :boxes
    = select_tag(:boxes,  options_for_select(@boxes))



  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :path
    = f.text_field :path
  .actions
    = f.submit 'Save'
