.page-header
  %h1
    Baseboxes
    %small available vmware base box images
    .pull-right
      = link_to new_vagrantbox_path, class: "btn btn-large" do
        %i.icon-inbox
        New Basebox


%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Box
    %th
    %th

  - @vagrantboxes.each do |vagrantbox|
    %tr
      %td= vagrantbox.name
      %td= vagrantbox.box_filename
      %td
        = link_to edit_vagrantbox_path(vagrantbox), class: "btn" do
          %i.icon-edit
          Edit
      %td
        = link_to vagrantbox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" do
          %i.icon-trash
          Delete

