%h1 Listing vagrantboxes

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Box
    %th
    %th
    %th

  - @vagrantboxes.each do |vagrantbox|
    %tr
      %td= vagrantbox.name
      %td= vagrantbox.box_filename
      %td= link_to 'Show', vagrantbox, class: "btn btn-info"
      %td= link_to 'Edit', edit_vagrantbox_path(vagrantbox), class: "btn btn-success"
      %td= link_to 'Destroy', vagrantbox, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger"

%br

= link_to 'New Vagrantbox', new_vagrantbox_path, class: "btn btn-large btn-success"
