.page-header
  %h1
    Baseboxes
    %small available vmware base box images
    .pull-right
      = link_to new_vagrantbox_path, class: "btn btn-large" do
        %i.icon-inbox
        New Basebox


%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Box
    %th Actions

  - @vagrantboxes.each do |vagrantbox|
    %tr
      %td= vagrantbox.name
      %td= vagrantbox.box_filename
      %td
        = link_to vagrantbox.box_url.to_s, class: "btn", title: "Download" do
          %i.icon-download
        = link_to edit_vagrantbox_path(vagrantbox), class: "btn", title: "Edit" do
          %i.icon-edit
        = link_to vagrantbox, data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger", title: "Delete" do
          %i.icon-trash


