
.page-header
  %h1
    = @user.email
    %small
    .pull-right
      = link_to edit_user_path(@user), :class => "btn btn-large" do
        %i.icon-edit
        Edit

%p#notice= notice

.row
  .span2
    %ul.thumbnails
      %li.span2
        .thumbnail
          = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=160&d=identicon", :style => 'padding-top:5px'

  .span6

    %h3
      %i.icon-user
      Chef client:
    %dl.dl-horizontal
      %dt Name
      %dd= @user.client_name
      %dt Server status
      %dd
        #chef_client_status{"data-url" => chef_client_status_url(@user)}
          %span.badge.badge-warning
            %i.icon.icon-question-sign
              unknown, checking...

      %dd.text-info The client is created with the first 'vagrant up' command you issue on your client machine. So don't be alarmed if it doesn't exist yet.



    - unless @user.private_key.blank?
      %h3
        %i.icon-lock
        Private key
      .btn-group
        %a.btn{'data-toggle' => "modal", href: "#privateKeyModal" }
          %i.icon-eye-open
          Show
        = link_to download_key_user_path(@user),  :class => "btn" do
          %i.icon-download-alt
          Download
        %a.btn.btn-info{'data-toggle' => "modal", href: "#privateKeyInfoModal" }
          %i.icon-info-sign
    %h3
      %i.icon-cog
      Actions
    .btn-group
      = link_to edit_user_registration_path, :class => "btn" do
        %i.icon-edit
        Edit registration

#privateKeyModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= "Private key for chef client: #{@user.client_name}"
  .modal-body
    %p= @user.private_key

#privateKeyInfoModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= "Info"
  .modal-body
    %p You need to download and put your private key into your chef configuration folder, usually located under <b>/etc/chef</b>


