= form_for @ingredient do |f|
  -if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :cookbooks
    = f.text_field :cookbooks

  .field
    = f.label :share_folder
    = f.text_field :share_folder, :value => '"foo", "/guest/path", "/host/path"'

  .field
    = f.label :network_config
    = f.text_field :network_config, :value => ':hostonly, "33.33.33.10"'

  .field
    = f.label :category
    = f.collection_select(:category, Category.all, :id, :name, :prompt => true)

  .fieldset
    = f.fields_for :portmappings do |map|
      = map.label :mapping
      = map.text_field :mapping


  .actions
    = f.submit 'Save'
