%fieldset.well.form-inline
  = f.input :logical_name
  = f.input :host_path
  = f.input :guest_path
  = f.input :additional_options
  .control-group
    .controls
      = f.hidden_field :_destroy
      = link_to '#', class: "remove_fields  btn btn-small btn-danger" do
        %i.icon-trash
        Delete