.page-header
  %h1
    Ingredients
    %small what goes in the box?
    .pull-right
      = link_to new_ingredient_path, class: "btn btn-large" do
        %i.icon-leaf
        New Ingredient

%table{class: 'table table-striped'}
  %tr
    %th Name
    %td Category
    %th Cookbooks
    %th Portmappings
    %th Share Folder
    %th Network Config
    %th Actions

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.name
      %td= ingredient.category.name
      %td= true_false_label(ingredient.cookbooks.empty?)
      %td= true_false_label(ingredient.portmappings.exists?)
      %td= true_false_label(ingredient.share_folders.exists?)
      %td= true_false_label(ingredient.networkconfig.nil?)
      %td
        = link_to ingredient, class: "btn btn-info", title: "Show" do
          %i.icon-eye-open
        = link_to edit_ingredient_path(ingredient), class: "btn", title: "Edit" do
          %i.icon-edit
        = link_to ingredient, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger", title: "Delete" do
          %i.icon-trash
