%h1 Listing ingredients

%table{class: 'table table-striped'}
  %tr
    %th Name
    %th Cookbooks
    %th Share Folder
    %th Network Config
    %th
    %th
    %th

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.name
      %td= ingredient.cookbooks
      %td= ingredient.share_folders.exists?
      %td= ingredient.network_config
      %td= link_to 'Show', ingredient, class: "btn btn-info"
      %td= link_to 'Edit', edit_ingredient_path(ingredient), class: "btn btn-success"
      %td= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger"

%br

= link_to 'New Ingredient', new_ingredient_path, class: "btn btn-large btn-success"
