%h1 Listing ingredients

%table
  %tr
    %th Name
    %th Cookbooks
    %th Share Folder
    %th Network Config
    %th
    %th
    %th

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.name
      %td= ingredient.cookbooks
      %td= ingredient.share_folder
      %td= ingredient.network_config
      %td= link_to 'Show', ingredient
      %td= link_to 'Edit', edit_ingredient_path(ingredient)
      %td= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ingredient', new_ingredient_path
