%p#notice= notice

%p
  %b Name:
  = @ingredient.name
%p
  %b Cookbooks:
  = @ingredient.cookbooks
%p
  %b Network Config:
  = @ingredient.network_config
%p
  %b Share Folder:
  = @ingredient.share_folder
%p
  %b Category:
  = @ingredient.category.name

- if @ingredient.portmappings.size > 0
  %p Portmappings:
  - for mapping in @ingredient.portmappings
    %p= mapping.mapping

%p new portmapping

= form_for [@ingredient, Portmapping.new ] do |f|
  = f.label :mapping
  = f.text_field :mapping
  = f.submit

= link_to 'Edit', edit_ingredient_path(@ingredient)
\|
= link_to 'Back', ingredients_path
