.page-header
  %h1
    Welcome
    %small easily assemble your Vagrantconfig!


.row
  .span3
    = image_tag 'bento.jpg'
  .span9
    %blockquote
      %p Bento (弁当 bentō) [ˈbɛntəʊ] |
      A thin box, made of plastic or lacquered wood, divided into compartments which contain small separate dishes comprising a Japanese meal, esp lunch |



    %p Similar to the japanese bento boxes, you can pack a vagrant base box and different ingredients together to form a bentobox - a complete Vagrantconfig file ready to use in conjunction with a chef-server.


%h2
  Download a bentobox!
  %small these vagrantconfig files are ready to use
%ul.thumbnails
  - Bentobox.recent(5).all.each do |bentobox|
    %li.span2
      = link_to bentobox_url(bentobox,  params.merge(:format => :text, :download => true)), :class => "thumbnail", title: "Download Vagrantconfig" do
        = image_tag 'vagrant_pack.png'
        .caption
          %h3= bentobox.name
          %p= bentobox.description
