%h1 Administration

.row
  .span5
    .well
      %h3 Load validation.pem file
      %p Load the validation key content. (Only local loading supportet at the moment)
      = simple_form_for :load_validation_key, :url => admin_load_validation_key_url, html:{class: "form-horizontal"}  do |f|
        = f.error_notification
        .fieldset
          = f.input :file_path, label: 'Path to file', input_html: {value: "/etc/chef/validation.pem"}
          = f.submit 'Load key', class: "btn btn-success"
.row
  .span5
    %h3 Application configuration
    = form_tag admin_update_path, class: "form-horizontal" do
      - @app_configurations.each do |app_configuration|
        .control-group
          = label_tag 'app_configuration[values][]', app_configuration.name, class: "control-label"
          .controls
            /= hidden_field_tag "app_configuration[names][]", app_configuration.name
            = text_field_tag "app_configuration[#{app_configuration.name}]", app_configuration.value
      .form-actions
        = submit_tag 'Save', class: "btn btn-primary"
        = link_to 'Back', admin_root_path, class: "btn"
  .span5
    %h3 Users
    %table.table.table-striped
      %thead
        %tr
          %td User
          %td
      %tbody
      - User.each do |u|
        %tr
          %td=u.email
          %td= link_to 'Edit', edit_user_path(u), :class => "btn"